body {
    background-color: #eacdf8;
    margin: 0;
    padding: 0;
}

.titulo {
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    border: 3px solid #7c4894;
    background-color: #995DB5;
    border-radius: 0px;    
}

#caixas {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    padding-top: 50px;
}

button {
    background-color: #995DB5;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: #995DB5;
    height: 240px;
    width: 800px;
}

button h1 {
    display: flex;
    justify-content: center;
}

h1 {
    color: aliceblue;
    text-decoration: underline;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(250, 228, 255);
    font-size: 20px;
}

button img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    button {
        width: 90%; 
        height: auto; 
        padding: 20px; 
    }

    #caixas {
        padding-top: 20px; 
    }

    p {
        font-size: 18px;
    }
}
